.form {
  background: linear-gradient(
    90deg,
    rgb(3 187 213) 0%,
    rgba(5, 19, 94, 1) 35%,
    rgb(3 83 171 / 55%) 74%,
    rgba(0, 212, 255, 1) 100%
  );
  width: 60%;
  margin: 0 auto;
  border-radius: 20px;
  padding: 1rem 0;
  color: white;
}

.btn {
}

/* .btn {
  color: black;
  background-color: #10ffb4;
  transition: 0.2s ease-in-out;
  border-left: 3px transparent solid;
  border-right: 3px transparent solid;
  font-size: 18px;
}

.:hover {
  color: #10ffb4;
  background-color: black;
  border-left: #10ffb4 3px solid;
  border-right: #10ffb4 3px solid;
} */
